body {
	background-color: #fff;
	color: #333;
font-family: Arial, sans-serif, verdana;

	font-size: 16px;
	font-weight: 300;
	line-height: 1.4;
}


#main {margin:0 auto;width:800px;}



@media screen and (max-width: 650px)
{
    #main
    {
#main {margin:0 20px 0 20px;width:100%;}

    }
}
