body {
	background-color: #fff;
	color: #333;
font-family: Arial, sans-serif, verdana;

	font-size: 16px;
	font-weight: 300;
	line-height: 1.4;
}


#main {margin:0 auto;width:800px;}

a {color:#f49110;text-decoration:underline;}
a:hover {text-decoration:none;}


a.btn {    font-size: .9em;
    background: #f49110;
    border: none;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    color: #fff;
    margin: 0;
    padding: 1em 2em;}

a.btn :hover { background: #cc7504;}





@media screen and (max-width: 650px)
{
    #main
    {width:90%; }
}
