body {
	background-color: #fff;
	color: #333;
font-family: Arial, sans-serif, verdana;

	font-size: 16px;
	font-weight: 300;
	line-height: 1.4;
}


#main {margin:0 auto;width:800px;}

a {color:#0366d6;text-decoration:underline;}
a:hover {text-decoration:none;}






@media screen and (max-width: 650px)
{
    #main
    {width:90%; }
}
